<p id="notice"><%= notice %></p>

<p>
  <strong>Md5:</strong>
  <%= @photo.md5 %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<p>
  <strong>Adult content:</strong>
  <%= @photo.adult_content %>
</p>

<p>
  <strong>Url:</strong>
  <%= @photo.url %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
