<!DOCTYPE html>
<html>
<head>
  <title>PicShare</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
      #navbar {
          background: #1f7aff;
          position: relative;
          right: 0;
          top: 0;
          width: 100%;
          padding-top: 5px;
          padding-bottom: 5px;
          z-index: 99999;
      }
      #navbar a {
          color: #ffffff;
          margin-left: 20px;
          margin-right: 20px;
      }
  </style>
</head>
<body>

<div id="navbar"><%= link_to 'Home', controller: 'welcome', action: 'index' %></div>

<%= yield %>

</body>
</html>
